
#iceberg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 600px;
    width: 100%;
    padding-top: 0;
    margin-top: 0; 
    transform: scaleX(-1);
}

#title{
    position: absolute;
    top: 25%; /* Center the text vertically */
    left: 5%;
    color: white; /* Change the text color if needed */
    font-size: 95px;
    max-width: 500px;
    text-shadow: 2px 2px 1px #1c0b5352;
    
  }

#aboutText{
    position: absolute;
    top: 59%; /* Center the text vertically */
    left: 5%;
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    max-width: 400px;
    font-weight: bold;
}

.navbar {
    background-color: #132c48ff !important; 
}
.nav-link {
    color: white !important; 
}
.nav-link:hover {
    color: #bc8cbaff !important; 
  }
.navbar-bottom{
    background-color: #132c48ff !important;
}
.navbar-bottom .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-bottom .nav-item {
    padding-left: 30px;
    padding-right: 30px;
}
.randomTEST{
    padding-top: 20px;
    color:black;
    max-width: 600px;
}

.Overview-title1{
    font-family: "Inter", sans-serif;
    color:black;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    text-align: center;
}



.Overview-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.polar{
    padding-top: 20px;
    padding-bottom: 50px;
    height: 700px;
    width: 700px
}

.titlePara{
    display: flex;
    flex-direction: column;
}
.forbackground{
    background-color: #9ab5d4ff;
}
.Overview-title1{
    color: #132c48ff;
}

.randomTEST{
    color: #132c48ff;
}